/* Add this rule to set the background image */
#background {
    -fx-background-color: #6cd3d6;
}

/* Add this rule to set the background image */
#IntroBackground {
    -fx-background-color: #6cd3d6;
}

#InstructionBackground {
    -fx-background-color: #6cd3d6;
}

.pixelFontButton {
    -fx-background-color: rgb(233, 144, 67); 
    -fx-font-family: "Pixelify Sans SemiBold"; /* Custom font */
    -fx-font-size: 25px;
    -fx-border-color: #000000; /* Black border color */
    -fx-border-width: 2px; /* Border width */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 10px; /* Padding inside the button */
}

.pixelFontButton:hover {
    -fx-background-color: rgb(165, 97, 38); /* Darker background on hover */
}

.pixelFontLabel {
    -fx-font-family: "Pixelify Sans SemiBold"; /* Custom font */
    -fx-text-fill: rgb(251, 137, 37); /* Text color */  
    -fx-font-size: 70px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 5, 0.5, 0, 1), 
                innershadow(gaussian, rgba(0, 0, 0, 1.0), 1, 0.0, 0, 0); /* Add shadow and border effect */
}

.labelRobotoMonoFont {
    -fx-font-family: "Roboto Mono";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

/* Style for all buttons */
.unselected-confirm-button {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 11px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 7px 14px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}

.selected-confirm-button {
    -fx-background-color: #1f4d20; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 11px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 7px 14px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}

.unselected-confirm-button:hover {
    -fx-background-color: #1f4d20; /* Green background */
}

.unselected-push-button {
    -fx-background-color: #0d5d9f; /* Blue background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 10px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 6px 12px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}

.unselected-push-button:hover {
    -fx-background-color: #112f54; /* Darker background on hover */
}

.selected-push-button {
    -fx-background-color: #112f54; /* Blue background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 10px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 6px 12px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}

.image-view-hover {
    -fx-transition: all 0.3s ease;
}

.image-view-hover:hover {
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}

.clickable {
    -fx-cursor: hand; /* Change cursor to hand */
    -fx-transition: all 0.3s ease; /* Smooth transition */
}

.clickable:hover {
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}

.gridpane-border {
    -fx-border-color: black; /* Border color */
    -fx-border-width: 2px; /* Border width */
    -fx-border-style: solid; /* Border style */
    -fx-padding: 5px; /* Padding inside the border */
    -fx-background-color: rgb(130, 193, 242); /* Background color */
}

.token-board-border {
    -fx-background-color: rgb(130, 193, 242); /* Background color */
}
