/* Add this rule to set the background image */
#background {
    -fx-background-image: url("sand.jpg"); /* Assuming the image is named image.png and located in the src folder */
    -fx-background-size: cover; /* Adjust this as needed */
    -fx-background-position: center; /* Adjust this as needed */
}

/* Add this rule to set the background image */
#IntroBackground {
    -fx-background-image: url("frog.jpg"); /* Assuming the image is named image.png and located in the src folder */
    -fx-background-size: cover; /* Adjust this as needed */
    -fx-background-position: center; /* Adjust this as needed */
}

.pixelFont {
    -fx-font-family: "Pixelify Sans";
    -fx-font-size: 25px;
}

/* Style for all buttons */
.unselected-confirm-button {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 11px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 7px 14px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}

.selected-confirm-button {
    -fx-background-color: #1f4d20; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 11px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 7px 14px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}

.unselected-push-button {
    -fx-background-color: #9f0d93; /* Blue background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 10px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 6px 12px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}

.selected-push-button {
    -fx-background-color: #54114f; /* Blue background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 10px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 6px 12px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}



