.selected-token > .image {
    -fx-stroke: purple;
    -fx-stroke-width: 4;
}

/* Add this rule to set the background image */
#background {
    -fx-background-image: url("water.jpg"); /* Assuming the image is named image.png and located in the src folder */
    -fx-background-size: cover; /* Adjust this as needed */
    -fx-background-position: center; /* Adjust this as needed */
}

/* Add this rule to set the background image and stroke */
#mainboard {
    -fx-background-image: url("wooden_board.jpg"); /* Replace with the actual path to your image */
    -fx-background-size: cover; /* Adjust this as needed */
    -fx-background-position: center; /* Adjust this as needed */
    -fx-border-color: rgb(29, 15, 15); /* Set the border color to black */
    -fx-border-width: 10; /* Set the border width */
    -fx-border-style: solid; /* Set the border style to solid */
}

/* Style for all buttons */
.button {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 11px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 7px 14px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}

/* Style for specific buttons using their fx:id */
#pushTop1, #pushTop2, #pushTop3, #pushTop4,
#pushLeft1, #pushLeft2, #pushLeft3, #pushLeft4,
#pushRight1, #pushRight2, #pushRight3, #pushRight4,
#pushBottom1, #pushBottom2, #pushBottom3, #pushBottom4 {
    -fx-background-color: #9f0d93; /* Blue background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 10px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 6px 12px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}

/* Style for selected buttons */
.selected-button > .button {
    -fx-background-color: #30042a !important; /* Even darker blue background */
}

/* Style for unselected buttons */
.unselected-button > .button {
    -fx-background-color: #9f0d93; /* Blue background */
}